@import 'web/scss/variables.scss';

.widget{
  margin: 0 1rem 1rem 0;
  background-color: #fff;
  box-shadow: $simple-y-bottom-shadow;
}

.content{
  padding    : 1rem;
}

.footer{
  padding    : 1rem;

  border-top : $gray 1px solid;
  font-style : italic;
}
